<html>
	<head>
		<title>Node.js starter kit</title>

		<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap/responsive.css">
		<link rel="stylesheet" href="/stylesheets/style.css">

		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="main" src="javascripts/main.js"></script>
		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="underscore" src="javascripts/libs/underscore-min.js"></script>

		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="app" src="javascripts/app.js"></script>

		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="backbone" src="javascripts/libs/backbone-min.js"></script>

		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="routers/home" src="javascripts/routers/home.js"></script>

		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="views/view" src="javascripts/views/view.js"></script>

		<script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="models/model" src="javascripts/models/model.js"></script><script type="text/javascript" charset="utf-8" data-requirecontext="_" data-requiremodule="text" src="javascripts/libs/text.js"></script></head><body><div id="wrapper"><div class="container-fluid"><div class="row-fluid"><h1>Node.js starter kit</h1><p class="subtitle"><span>Have fun with this code! </span></p><p class="subtitle"> <span>Check out the </span><a href="http://github.com/romainpiel/nodejsstarterkit">Github repo</a><span></span></p></div><div id="main"><p>Template says: Hello World</p></div></div></div><script src="/javascripts/libs/require-jquery.js" data-main="javascripts/main"></script></body></html>