extends layout

block append scripts
    script(src='/javascripts/libs/require-jquery.js', data-main='javascripts/main')

block content
    div#wrapper
        div.container-fluid
            div.row-fluid
                h1 glowing-tyrion
                p.subtitle 
                    span Check out the 
                    a(href='https://github.com/rosskukulinski/glowing-tyrion') Github repo
                    span .
            div#main
